<section
  class="flex overflow-hidden justify-between items-start px-24 mt-20 w-full text-xl leading-snug max-md:px-5 max-md:mt-10 max-md:max-w-full">
  <div class="flex flex-col min-w-[240px] w-[657px] max-md:max-w-full">
    <h1 class="text-6xl font-medium text-black max-md:max-w-full max-md:text-4xl">
      Футбольная команда Кокос Групп
    </h1>
    <p class="mt-9 text-black max-md:max-w-full">Добро пожаловать на фан сайт</p>
    <!--      <form class="mt-9">-->
    <!--        <label for="notificationEmail" class="sr-only">Email для уведомлений</label>-->
    <!--        <input type="email" id="notificationEmail" class="px-4 py-2 border rounded-l-2xl" placeholder="Ваш email" required aria-label="Email для уведомлений" />-->
    <!--        <button type="submit" class="px-9 py-5 text-center text-white rounded-r-3xl bg-zinc-900 hover:bg-zinc-700 max-md:px-5">-->
    <!--          Получать уведомления-->
    <!--        </button>-->
    <!--      </form>-->
  </div>
  <img loading="lazy" src="https://svgshare.com/i/1BNC.svg"
    class="object-contain aspect-[1.17] min-w-[240px] w-[600px] max-md:max-w-full" alt="Football team illustration" />
</section>

<!-- <section
  class="flex overflow-hidden flex-wrap gap-10 justify-between items-start px-24 mt-16 w-full max-md:px-5 max-md:mt-10 max-md:max-w-full">
  <img loading="lazy"
    src="https://www.lfl.ru/photo/clubs/big-size/232_6388e0382510e.png?w=178&q=80"
    class="object-contain shrink-0 bg-blend-luminosity aspect-[2.58] w-[124px]" alt="Sponsor logo 1" />
  <img loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/e80c044ef7cff2721ae08b01bd80a3e1993b6e3f8acd8473ae61ba153fe26c05?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
    class="object-contain shrink-0 bg-blend-luminosity aspect-[2.62] w-[126px]" alt="Sponsor logo 2" />
  <img loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/60def54ed843245761ce78a2f137c7bca55e78df395036858bdc7eb0be5c4eac?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
    class="object-contain shrink-0 bg-blend-luminosity aspect-[2.69] w-[129px]" alt="Sponsor logo 3" />
  <img loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/615fac8b7f97b8430ed2b0b9d9cec759109262d93d2bf7d43d3ea5e537369a4d?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
    class="object-contain shrink-0 bg-blend-luminosity aspect-[3.02] w-[145px]" alt="Sponsor logo 4" />
  <img loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/2b9e105b769b0cfad99fc49b5c2ac5c5c5f3ae0ebc0cc22c677fe396e0e8216d?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
    class="object-contain shrink-0 bg-blend-luminosity aspect-[2.62] w-[126px]" alt="Sponsor logo 5" />
  <img loading="lazy"
    src="https://cdn.builder.io/api/v1/image/assets/TEMP/009517f5a8ee9c4fb09b8d54aee048fdc4bddca420e8b53240c87adcf51424f8?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
    class="object-contain shrink-0 bg-blend-luminosity aspect-[2.31] w-[111px]" alt="Sponsor logo 6" />
</section> -->

<section class=" mt-10 flex flex-wrap gap-10 items-start px-24  max-md:px-5">
  <header class="flex flex-col text-4xl font-medium">
    <h2 class="px-2 bg-red-500 text-neutral-300 rounded-lg">О нас</h2>
  </header>
  <p class="text-lg w-[643px] text-neutral-800 max-md:max-w-full">
    Огромная благодарность всем болельщикам. Честно признаться, я даже на профессиональном уровне не часто встречал
    такую атмосферу и такое количество людей, которые дышат одним воздухом с командой.
  </p>
</section>

<section
  class=" mr-4 ml-4 mt-6 flex overflow-hidden flex-wrap gap-10 justify-between items-center p-12 border border-solid shadow-sm bg-zinc-900 border-zinc-900 rounded-[45px] max-md:px-5">
  <div class="flex flex-col self-stretch my-auto min-w-[240px] max-md:max-w-full">
    <h2 class="flex flex-col text-3xl font-medium max-md:max-w-full">
      <span class="self-start px-2 text-red-500 bg-white rounded-lg">Здесь есть место эмоциям</span>
      <span class="px-2 text-neutral-800 bg-white rounded-lg max-md:max-w-full">
        самого разного спектра <span class="text-red-600">любви</span> и <span class="text-red-600">семьи</span>
      </span>
    </h2>
    <div class="flex gap-4 items-center self-start mt-24 text-xl leading-snug text-white max-md:mt-10">
      <img loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/6ded8e890fe35ff81e337e3eb3ebd23cbd535e936af7c2d3bb88b0e982a2dd97?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
        alt="" class="object-contain shrink-0 self-stretch my-auto aspect-square w-[41px]" />
      <a type="button" (click)="navigateTo('/foto')">
        <p class="self-stretch my-auto">Фото с матчей</p>
      </a>
    </div>
  </div>
  <div class="flex flex-col self-stretch px-px my-auto w-[210px]">
    <img loading="lazy"
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/ae4605f5c92647df0d276ac72403686d154dbefc13ea8e61895e44c9f4af863d?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
      alt="Decorative image" class="object-contain aspect-square w-[209px]" />
  </div>
</section>


<section class="justify-around inset-y-0 mt-10 flex flex-wrap gap-10 items-start px-24 text-black max-md:px-5">
  <header class="flex flex-col text-4xl font-medium">
    <h2 class="px-2 border-2 border-red-600 text-red-500  rounded-lg">Наши достижения</h2>
  </header>
</section>

<section class="  items-center mt-6 flex flex-col">
  <div class="flex flex-wrap gap-10 items-start px-24 whitespace-nowrap max-md:px-5 max-md:max-w-full">
    <article
      class="flex overflow-hidden flex-wrap justify-between items-center p-12 border border-solid shadow-sm bg-neutral-800 border-zinc-900 min-w-[240px] rounded-[45px] w-[600px] max-md:px-5 max-md:max-w-full">
      <div class="flex flex-col justify-center self-stretch my-auto">
        <h2 class="flex flex-col text-6xl font-medium text-neutral-300 max-md:text-4xl">
          <span class="px-2 bg-red-600 rounded-lg max-md:text-4xl">Игры</span>
        </h2>
        <p
          class="gap-4 self-stretch mt-24 text-8xl leading-none text-black min-h-[39px] w-[59px] max-md:mt-10 max-md:text-4xl">
          9
        </p>
      </div>
      <div class="flex shrink-0 self-stretch my-auto h-[170px] w-[210px]" role="img" aria-label="Decorative element">
        <img loading="lazy" src="https://svgshare.com/i/1B9B.svg" alt="Illustration representing victories"
          class="object-contain shrink-0 self-stretch my-auto aspect-[1.42] w-[210px]" />
      </div>
    </article>
    <article
      class="flex overflow-hidden flex-wrap gap-10 justify-between items-center px-12 py-14 bg-red-500 border border-solid shadow-sm border-zinc-900 min-h-[310px] min-w-[240px] rounded-[45px] w-[600px] max-md:px-5 max-md:max-w-full">
      <div class="flex flex-col self-stretch my-auto min-w-[240px]">
        <h2 class="flex flex-col text-6xl font-medium text-neutral-300 max-md:text-4xl">
          <span class="px-2 bg-red-600 rounded-lg max-md:text-4xl">Победы</span>
        </h2>
        <p class="gap-4 self-start mt-24 text-8xl leading-none text-black max-md:mt-10 max-md:text-4xl">
          5
        </p>
      </div>
      <img loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/0edfcc36891889714d804af8a21d7bfb945f4683859bf6468b719a907e6c31cd?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
        alt="Illustration representing victories"
        class="object-contain shrink-0 self-stretch my-auto aspect-[1.42] w-[210px]" />
    </article>
  </div>
  <div class="flex flex-wrap gap-10 items-start px-24 mt-10 whitespace-nowrap max-md:px-5 max-md:max-w-full">
    <article
      class="flex overflow-hidden flex-wrap gap-10 justify-between items-center p-12 border border-solid shadow-sm bg-red-500 border-zinc-900 min-w-[240px] rounded-[45px] w-[600px] max-md:px-5 max-md:max-w-full">
      <div class="flex flex-col self-stretch my-auto">
        <h2 class="flex flex-col text-6xl font-medium text-neutral-300 max-md:text-4xl">
          <span class="px-2 bg-red-600 rounded-lg max-md:text-4xl">Голы</span>
        </h2>
        <p class="gap-4 self-start mt-24 text-8xl leading-none text-white max-md:mt-10 max-md:text-4xl">
          17
        </p>
      </div>
      <img loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/594c316a336ca16dca27cc9c669a8a71e6e2e68a431d18405d35d2746c3fee50?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
        alt="Illustration representing goals"
        class="object-contain shrink-0 self-stretch my-auto aspect-square w-[210px]" />
    </article>
    <article
      class="flex overflow-hidden flex-wrap gap-5 justify-between items-center p-12 border border-solid shadow-sm bg-neutral-800 border-zinc-900 min-w-[240px] rounded-[45px] w-[600px] max-md:px-5 max-md:max-w-full">
      <div class="flex flex-col justify-center self-stretch my-auto min-w-[240px]">
        <h2 class="flex flex-col text-6xl font-medium text-neutral-300 max-md:text-4xl">
          <span class="px-2 bg-red-600 rounded-lg max-md:text-4xl">Турниры</span>
        </h2>
        <p class="gap-4 self-start mt-24 text-8xl leading-none text-black max-md:mt-10 max-md:text-4xl">
          1
        </p>
      </div>
      <img loading="lazy"
        src="https://cdn.builder.io/api/v1/image/assets/TEMP/47f3e083ec0ad47a15c1d8a175eb4ce95df7fb4211599ba5e5976f7a31aecac5?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
        alt="Illustration representing tournaments"
        class="object-contain shrink-0 self-stretch my-auto w-52 aspect-square" />
    </article>
  </div>
  <div class=" mt-30 flex flex-wrap gap-10 items-start px-24 mt-10 w-full  max-md:px-5 max-md:max-w-full">
    <h2 class="flex lex-col text-4xl font-medium min-w-[240px] max-md:max-w-full">
      <span class="px-2  bg-neutral-800  text-red-600 rounded-lg max-md:max-w-full">Статистика нашей команды</span>
    </h2>
    <p class="text-lg text-neutral-800 w-[580px] max-md:max-w-full">
      Здесь показана наша статистика по месяцам. Первый столбец это наши победы второй проигрыши
    </p>
  </div>
  <div class="flex mt-1 max-w-full min-h-[248px] w-[248px]" role="img" aria-label="Decorative element"></div>
</section>
<!--
<section class=" items-center  mt-6 flex flex-wrap gap-10 mt-10 ml-11  px-16 py-16 bg-zinc-900 rounded-[45px] max-w-[1234px] max-md:px-5 max-md:max-w-full">
  <article class="flex flex-col min-w-[230px] w-[286px]">
    <p class="text-lg text-white">Какой то текст.</p>
    <a href="#" class="flex gap-4 items-center self-start mt-5 text-xl leading-snug text-lime-300">
      <span class="self-stretch my-auto">Читать больше</span>
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5c12a60c027beb167fb8e7a545e3890694b83d0c2bd1bd9f9745f7c5ec125ef3?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639" alt="" class="object-contain shrink-0 self-stretch my-auto aspect-[1.7] w-[17px]" />
    </a>
  </article>
  <div class="shrink-0 w-0 border border-white border-solid h-[186px]" role="separator" aria-hidden="true"></div>
  <article class="flex flex-col min-w-[240px] w-[286px]">
    <p class="text-lg text-white">Какой то текст.</p>
    <a href="#" class="flex gap-4 items-center self-start mt-5 text-xl leading-snug text-lime-300">
      <span class="self-stretch my-auto">Читать больше</span>
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5c12a60c027beb167fb8e7a545e3890694b83d0c2bd1bd9f9745f7c5ec125ef3?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639" alt="" class="object-contain shrink-0 self-stretch my-auto aspect-[1.7] w-[17px]" />
    </a>
  </article>
  <div class="shrink-0 w-0 border border-white border-solid h-[186px]" role="separator" aria-hidden="true"></div>
  <article class="flex flex-col min-w-[240px] w-[286px]">
    <p class="text-lg text-white">Какой то текст.</p>
    <a href="#" class="flex gap-4 items-center self-start mt-5 text-xl leading-snug text-lime-300">
      <span class="self-stretch my-auto">Читать больше</span>
      <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5c12a60c027beb167fb8e7a545e3890694b83d0c2bd1bd9f9745f7c5ec125ef3?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639" alt="" class="object-contain shrink-0 self-stretch my-auto aspect-[1.7] w-[17px]" />
    </a>
  </article>
</section> -->








<section class="justify-around inset-y-0 mt-10 flex flex-wrap gap-10 items-start px-24 text-black max-md:px-5">
  <header class="flex flex-col text-6xl  font-medium">
    <h2 class="px-2 bg-red-500 text-zinc-800 rounded-lg">Последние новости</h2>
  </header>
</section>

<section class="text-gray-600  rounded-md body-font ">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="lg:w-2/3 mx-auto">
      <div class="flex flex-wrap w-full bg-zinc-800 py-32 px-10 relative mb-4">
        <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute rounded-md inset-0"
          src="https://www.lfl.ru/photo/clubs/big-size/232_6388e0382510e.png?w=178&q=80">
        <div class="text-center relative z-10 w-full">
          <h2 class="text-2xl text-white font-medium title-font mb-2">Заголовок новости</h2>
          <p class="leading-relaxed text-white">Краткое описание</p>
          <a class="mt-3 text-lime-300 inline-flex items-center">Подробнее
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="flex flex-wrap -mx-2">
        <div class="px-2 w-1/2">
          <div class="flex flex-wrap w-full bg-zinc-800 sm:py-24 py-16 sm:px-10 px-6 relative">
            <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0"
              src="https://www.lfl.ru/photo/clubs/big-size/232_6388e0382510e.png?w=178&q=80">
            <div class="text-center relative z-10 w-full">
              <h2 class="text-xl text-white font-medium title-font mb-2">Краткое описание</h2>
              <p class="leading-relaxed text-white">Краткое описание</p>
              <a class="mt-3 text-lime-300 inline-flex items-center">Подробнее
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="px-2 w-1/2">
          <div class="flex flex-wrap w-full bg-zinc-800 sm:py-24 py-16 sm:px-10 px-6 relative">
            <img alt="gallery" class="w-full object-cover h-full object-center block opacity-25 absolute inset-0"
              src="https://www.lfl.ru/photo/clubs/big-size/232_6388e0382510e.png?w=178&q=80">
            <div class="text-center relative z-10 w-full">
              <h2 class="text-xl text-white font-medium title-font mb-2">Краткое описание</h2>
              <p class="leading-relaxed text-white">Краткое описание</p>
              <a class="mt-3 text-lime-300 inline-flex items-center">Подробнее
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                  <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-neutral-800 opacity-95 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
        
          <h1 class="title-font sm:text-2xl text-xl font-medium text-red-600 mb-3">Как попасть на матч "Кокос групп"?</h1>
          <div class="border border-red-800 border-solid"></div>
          <p class="leading-relaxed mb-3 text-red-500"> В разеделе "Покупка билетов" на нашем сайте вы можете найти информацию связанную с предстоящимим матчами "Кокос групп" </p>
          <a class="text-red-500 inline-flex items-center">
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
             
            </svg>
          </a>
          <div class="text-center mt-2 leading-none flex justify-center absolute bottom-0 left-0 w-full py-4">
            <span class="text-gray-400 mr-3 inline-flex items-center leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
     
            </span>
            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
          
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-neutral-800 bg-opacity-95 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
        
          <h1 class="title-font sm:text-2xl text-xl font-medium text-red-500 mb-3">Как часто играет "Кокос групп"?</h1>
          <div class="border border-red-800 border-solid"></div>
          <p class="leading-relaxed mb-3 text-red-500">Можете узнать в разделе предстоящие матчи. </p>
          <a class="text-indigo-500 inline-flex items-center">
           
          </a>
          
        </div>
      </div>
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-neutral-800 bg-opacity-95 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
         
          <h1 class="title-font sm:text-2xl text-xl font-medium text-red-500 mb-3">Какие известные игроки играют в "Кокос групп"?</h1>
          <div class="border border-red-800 border-solid"></div>
          <p class="leading-relaxed mb-3 text-red-500">В нашем клубе играют такие игроки, как Владимир Рыков, Сутармин Алексей и Погребняк Павел. </p>
          <a class="text-indigo-500 inline-flex items-center">
           
          </a>
          <div class="text-center mt-2 leading-none flex justify-center absolute bottom-0 left-0 w-full py-4">
            <span class="text-gray-400 mr-3 inline-flex items-center leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
            
            </span>
            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
              
            </span>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-neutral-800 opacity-95 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
        
          <h1 class="title-font sm:text-2xl text-xl font-medium text-red-600 mb-3">Как можно взаимодействовать с клубом</h1>
          <div class="border border-red-800 border-solid"></div>
          <p class="leading-relaxed mb-3 text-red-500"> Внимательно следить за постами нашей командой, посещать игры и быть активным болельщиком.</p>
          <a class="text-red-500 inline-flex items-center">
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
             
            </svg>
          </a>
          <div class="text-center mt-2 leading-none flex justify-center absolute bottom-0 left-0 w-full py-4">
            <span class="text-gray-400 mr-3 inline-flex items-center leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
     
            </span>
            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
          
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-neutral-800 opacity-95  px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
        
          <h1 class="title-font sm:text-2xl text-xl font-medium text-red-500 mb-3">Где можно купить атрибутику "Кокос групп"?</h1>
          <div class="border border-red-800 border-solid"></div>
          <p class="leading-relaxed mb-3 text-red-500">На нашем сайте в разеделе "Магазин". </p>
          <a class="text-indigo-500 inline-flex items-center">
           
          </a>
          
        </div>
      </div>
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-neutral-800 opacity-95  px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
         
          <h1 class="title-font sm:text-2xl text-xl font-medium text-red-500 mb-3">Где можно найти трансляции на матчи "Кокос групп"? </h1>
          <div class="border border-red-800 border-solid"></div>
          <p class="leading-relaxed mb-3 text-red-500"> На нашем сайте и в вк. </p>
          <a class="text-indigo-500 inline-flex items-center">
           
          </a>
          <div class="text-center mt-2 leading-none flex justify-center absolute bottom-0 left-0 w-full py-4">
            <span class="text-gray-400 mr-3 inline-flex items-center leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
            
            </span>
            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
              
            </span>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>