<div class="relative overflow-x-auto shadow-md mt-28 sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-red-400">
        <thead class="text-xs text-red-700 uppercase bg-red-50 dark:bg-neutral-900 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">Тур</th>
                <th scope="col" class="px-6 py-3">Дата</th>
                <th scope="col" class="px-6 py-3">Команда 1</th>
                <th scope="col" class="px-6 py-3">Счет</th>
                <th scope="col" class="px-6 py-3">Команда 2</th>
                <th scope="col" class="px-6 py-3">Статистика</th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-neutral-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-red-600">25 тур</th>
                <td class="px-6 py-4">05.10.2024 (СБ)</td>
                <td class="px-6 py-4">АФК Портер</td>
                <td class="font-medium text-blue-600 dark:text-blue-500 hover:underline px-6 py-4">2:4</td>
                <td class="px-6 py-4">
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Кокос Групп</a>
                </td>
                <td class="px-6 py-4">
                    <a routerLink="../state15" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Подробнее</a>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-neutral-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-red-600">24 тур</th>
                <td class="px-6 py-4">29.09.2024 (ВС)</td>
                <td class="px-6 py-4">Кокос Групп</td>
                <td class="text-blue-600 dark:text-blue-500 px-6 py-4">5:0</td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Антиспорт</a>
                </td>
                <td class="px-6 py-4">
                    <a routerLink="../state24" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Подробнее</a>
                </td>
            </tr>
            <tr class="bg-white dark:bg-neutral-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-red-600">15 тур</th>
                <td class="px-6 py-4">28.09.2024 (СБ)</td>
                <td class="px-6 py-4">Пищевик</td>
                <td class="text-blue-600 dark:text-blue-500 px-6 py-4">5:2</td>
                <td class="px-6 py-4">
                    <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Кокос Групп</a>
                </td>
                <td class="px-6 py-4">
                    <a routerLink="../state25" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Подробнее</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-red-50 dark:bg-neutral-900 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                   Тур
                </th>
                <th scope="col" class="px-6 py-3">
                    Дата
                </th>
                <th scope="col" class="px-6 py-3">
                    Команда 1
                </th>
                <th scope="col" class="px-6 py-3">
                   Счет
                </th>
                <th scope="col" class="px-6 py-3">
                    Команда 2
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-neutral-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    25 тур
                </th>
                <td class="px-6 py-4">
                    
                     05.10.2024 (СБ)
                </td>
                <td class="px-6 py-4">
                    АФК Портер
                </td>
                <td class=" font-medium text-blue-600 dark:text-blue-500 hover:underline px-6 py-4">
                    2:4
                </td>
                <td class="px-6 py-4">
                    <a class="font-medium text-white-600 hover:underline">Кокос Групп</a>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-neutral-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    24 тур
                </th>
                <td class="px-6 py-4">
                    
29.09.2024 (ВС)
                </td>
                <td class="px-6 py-4">
                    Кокос Групп
                </td>
                <td class="text-blue-600 dark:text-blue-500 px-6 py-4">
                    5:0
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="font-medium text-white-600 dark:text-white-600 hover:underline">Антиспорт</a>
                </td>
            </tr>
            <tr class="bg-white dark:bg-neutral-800">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    15 тур 
                </th>
                <td class="px-6 py-4">
                    28.09.2024(СБ)
                </td>
                <td class="px-6 py-4">
                    Пищевик
                </td>
                <td class="text-blue-600 dark:text-blue-500 px-6 py-4">
                    5:2
                </td>
                <td class="px-6 py-4">
                    <a  class="font-medium text-white-600 dark:text-white-500 hover:underline">Кокос Групп</a>
                </td>
            </tr>
        </tbody>
    </table> -->