<section
  class="flex overflow-hidden flex-col items-center px-20 pt-56 pb-3.5 bg-neutral-300 border border-neutral-300 border-solid max-md:px-5 max-md:pt-24">
  <div class="flex flex-col ml-3.5 w-full max-w-[996px] max-md:max-w-full">
    <div class="w-full max-md:max-w-full">
      <div class="flex gap-5 max-md:flex-col">
        <article class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
          <div
            class="grow px-9 pt-9 pb-1.5 w-full rounded-3xl border border-red-600 border-solid shadow-2xl bg-zinc-900 max-md:px-5 max-md:max-w-full">
            <div class="flex gap-5 max-md:flex-col">
              <div class="flex flex-col w-[79%] max-md:ml-0 max-md:w-full">
                <h2 class="self-stretch my-auto text-4xl font-semibold leading-none text-red-600 max-md:mt-10">КОКОС
                  ГРУПП</h2>
              </div>
              <div class="flex flex-col ml-5 w-[21%] max-md:ml-0 max-md:w-full">
                <div
                  class="flex flex-col grow text-6xl font-semibold text-center text-white whitespace-nowrap leading-[80px] max-md:mt-10 max-md:text-4xl max-md:leading-[55px]">
                  <img loading="lazy"
                    src="https://cdn.builder.io/api/v1/image/assets/TEMP/8b1479e50630d1962627aee4b73786fdf5c7929874981901d373ef667c60a532?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
                    class="object-contain self-center aspect-[1.06] w-[50px]" alt="" />
                  <div
                    class="flex overflow-hidden flex-col justify-center items-center max-md:text-4xl max-md:leading-[55px]">
                    <div class="flex relative items-end px-1 max-md:text-4xl max-md:leading-[55px]">
                      <div class="flex z-0 min-h-[80px]"></div>
                      <div class="flex absolute inset-0 z-0 shrink-0 self-start h-20 w-[90px]"></div>
                      <time datetime="2024-01-02">
                        12
                      </time>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
        <article class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
          <div
            class="grow px-9 pt-9 pb-1.5 w-full rounded-3xl border border-red-600 border-solid shadow-2xl bg-zinc-900 max-md:px-5 max-md:max-w-full">
            <div class="flex gap-5 max-md:flex-col">
              <div class="flex flex-col w-[79%] max-md:ml-0 max-md:w-full">
                <h2 class="self-stretch my-auto text-4xl font-semibold leading-none text-red-600 max-md:mt-28">АЛЬПИНКА
                  ГРУПП</h2>
              </div>
              <div class="flex flex-col ml-5 w-[21%] max-md:ml-0 max-md:w-full">
                <div
                  class="flex flex-col grow text-6xl font-semibold text-center text-white whitespace-nowrap leading-[80px] max-md:mt-10 max-md:text-4xl max-md:leading-[55px]">
                  <img loading="lazy" src="https://www.lfl.ru/photo/clubs/big-size/232_6388e0382510e.png?w=178&q=80"
                    class="object-contain self-center aspect-[1.06] w-[50px]" alt="" />
                  <div
                    class="flex overflow-hidden flex-col justify-center items-center max-md:text-4xl max-md:leading-[55px]">
                    <div class="flex relative items-end px-1 max-md:text-4xl max-md:leading-[55px]">
                      <div class="flex z-0 min-h-[80px]"></div>
                      <div class="flex absolute inset-0 z-0 shrink-0 self-start h-20 w-[90px]"></div>
                      <time datetime="2024-01-02">
                        1
                      </time>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </article>
      </div>
    </div>
    <div class="max-md:max-w-full">
      <div class="flex gap-5 max-md:flex-col">
        <article class="flex flex-col w-6/12 max-md:ml-0 max-md:w-full">
          <div
            class="flex overflow-hidden flex-col items-start px-12 pt-12 pb-32 mx-auto w-full rounded-2xl border border-red-600 border-solid bg-zinc-900 shadow-[0px_4px_10px_rgba(0,0,0,0.3)] max-md:px-5 max-md:pb-24 max-md:max-w-full">
            <h3 class="text-3xl font-semibold leading-loose text-red-600">Стартовый состав</h3>
            <div class="flex gap-5 justify-between self-stretch mt-6">
              <ul class="flex flex-col self-start text-base leading-6 text-slate-200">
                <h3 class="self-start  text-xl font-semibold tracking-tight leading-relaxed">
                  Капитан
                </h3>
                <li class="leading-6">Погребняк Кирилл</li>
                <h3 class="self-start mt-2 text-xl font-semibold tracking-tight leading-relaxed">
                  Вратарь
                </h3>
                <li class="leading-6">Комягин Михаил</li>
              </ul>
              <div class="flex flex-col text-white">
                <h4 class="self-start text-xl font-semibold tracking-tight leading-relaxed">Игроки</h4>
                <ul class="mt-1 text-base leading-6">
                  <li>Власов Виктор</li>
                  <li>Погребняк Николай</li>
                  <li>Алисеевич Георгий</li>
                  <li>Лидинёв Олег</li>
                  <li>Терещенко Павел</li>
                  <li>Леденёв Роман</li>
                </ul>
              </div>
            </div>
            <h3 class="mt-16 text-2xl font-semibold leading-loose text-red-600 max-md:mt-10">Резервный состав</h3>
            <div class="flex gap-10 mt-4 font-semibold">
              <div class="flex flex-col self-start leading-relaxed">
                <h4 class="self-start text-xl tracking-tight text-white">Вратарь</h4>
                <p class="mt-2.5 text-base text-zinc-200 text-opacity-80">Зыбин Александр </p>
              </div>
              <div class="flex flex-col">
                <h4 class="self-start text-xl tracking-tight leading-relaxed text-white">Игроки</h4>
                <ul class="mt-3 text-base leading-6 text-zinc-200 text-opacity-80">
                  <li>Иминжанов Анвар</li>
                  <li>Комяжко Кирилл</li>
                  <li>Азембловский Никита</li>
                  <li>Мареев Юрий</li>
                  <li>Кудьяров Владислав</li>
                  <li>Жежа Павел</li>
                </ul>
              </div>
            </div>
          </div>
        </article>
        <article class="flex flex-col ml-5 w-6/12 max-md:ml-0 max-md:w-full">
          <div
            class="flex overflow-hidden flex-col items-start px-12 pt-12 pb-24 mx-auto w-full rounded-2xl border border-red-600 border-solid bg-zinc-900 shadow-[0px_4px_10px_rgba(0,0,0,0.3)] max-md:px-5 max-md:max-w-full">
            <h3 class="text-3xl font-semibold leading-loose text-red-600">Стартовый состав</h3>
            <div class="flex gap-5 justify-between self-stretch mt-6">
              <ul class="flex flex-col self-start text-base text-slate-200">
                <h3 class="self-start mt-2 text-xl font-semibold tracking-tight leading-relaxed">
                  Капитан
                </h3>
                <li class="leading-6"></li>
                <h3 class="self-start mt-2 text-xl font-semibold tracking-tight leading-relaxed">
                  Вратарь
                </h3>
                <li class="leading-6">Шарафутдинов Радик </li>
              </ul>
              <div class="flex flex-col">
                <h4 class="self-start text-xl font-semibold  mt-6 tracking-tight leading-relaxed text-white">Игроки</h4>
                <ul class="mt-3 text-base leading-6 text-zinc-200 text-opacity-80">
                  <li>Алимов Даниил</li>
                  <li>Кураев Дмитрий</li>
                  <li>Оганов Владимир</li>
                  <li>Кандауров Абдурагим</li>
                  <li>Коршунов Кирилл</li>
                  <li>Косенко Павел</li>
                </ul>
              </div>
            </div>
            <h3 class="mt-16 text-2xl font-semibold leading-loose text-red-600 max-md:mt-10">Резервный состав</h3>
            <div class="flex gap-10 mt-2.5 max-w-full font-semibold w-[338px]">
              <div class="flex flex-col flex-1 self-start mt-1.5 leading-relaxed">
                <h4 class="self-start text-xl tracking-tight text-white">Вратарь</h4>
                <p class="mt-2.5 text-base text-zinc-200 text-opacity-80">Сибирцев Евгений </p>
              </div>
              <div class="flex flex-1">
                <h4 class="z-10 self-start -mr-16 text-xl tracking-tight leading-relaxed text-white">Игроки</h4>
                <ul class="text-base leading-6 text-zinc-200 text-opacity-80">
                  <li>Богатырёв Магомед</li>
                  <li>Аветисян Тигран</li>
                  <li>Лукаш Алексей</li>
                </ul>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>

<section class="flex overflow-hidden flex-col items-center px-20 pt-6 pb-24 bg-neutral-300 max-md:px-5">
  <div class="flex flex-col max-w-full w-[490px]">
    <header class="flex flex-col pl-3.5 w-full max-md:max-w-full">

      <h1
        class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-red-600 md:text-5xl lg:text-6xl dark:text-red-600">
        Голевые моменты</h1>
      <article class="flex gap-4 self-start py-2.5 pr-12 pl-5 mt-8 rounded-3xl shadow-lg bg-zinc-900 max-md:pr-5">
        <div class="flex flex-col items-center my-auto bg-violet-100 rounded-full h-[70px] w-[70px]" role="img"
          aria-label="Player avatar"></div>
        <div class="flex flex-col">
          <p class="self-start text-4xl font-semibold text-red-600">1:0</p>
          <p class="mt-4 text-base text-stone-50">
            Власов Виктор
          </p>
        </div>
        <p
          class="z-10 self-start text-6xl font-semibold leading-none text-center text-white whitespace-nowrap max-md:text-4xl">
          3'</p>
      </article>
      <article class="flex gap-4 self-end py-2.5 pr-12 pl-5 mt-8 rounded-3xl shadow-lg bg-zinc-900 max-md:pr-5">
        <div class="flex shrink-0 my-auto bg-violet-100 rounded-full h-[70px] w-[70px]" role="img"
          aria-label="Player avatar"></div>
        <div class="flex flex-col">
          <p class="self-start text-4xl font-semibold text-red-600">2:0</p>
          <p class="mt-4 text-base text-stone-50">
            Погребняк Кирилл <br>
            (Лидинёв Олег)

          </p>
        </div>
        <p
          class="z-10 self-start text-6xl font-semibold leading-none text-center text-white whitespace-nowrap max-md:text-4xl">
          6'</p>
      </article>
      <article class="flex gap-4 self-start py-2.5 pr-12 pl-5 mt-8 rounded-3xl shadow-lg bg-zinc-900 max-md:pr-5">
        <div class="flex flex-col items-center my-auto bg-violet-100 rounded-full h-[70px] w-[70px]" role="img"
          aria-label="Player avatar"></div>
        <div class="flex flex-col">
          <p class="self-start text-4xl font-semibold text-red-600">3:0</p>
          <p class="mt-4 text-base text-stone-50">
            Азембловский Никита <br>
            (Погребняк Кирилл)
          </p>
        </div>
        <p
          class="z-10 self-start text-6xl font-semibold leading-none text-center text-white whitespace-nowrap max-md:text-4xl">
          16'</p>
      </article>
      <article class="flex gap-4 self-end py-2.5 pr-12 pl-5 mt-8 rounded-3xl shadow-lg bg-zinc-900 max-md:pr-5">
        <div class="flex shrink-0 my-auto bg-violet-100 rounded-full h-[70px] w-[70px]" role="img"
          aria-label="Player avatar"></div>
        <div class="flex flex-col">
          <p class="self-start text-4xl font-semibold text-red-600">4:0</p>
          <p class="mt-4 text-base text-stone-50">
            Погребняк Кирилл <br>
            (Жежа Павел)
          </p>
        </div>
        <p
          class="z-10 self-start text-6xl font-semibold leading-none text-center text-white whitespace-nowrap max-md:text-4xl">
          20'</p>
      </article>

      <article class="flex gap-4 self-start py-2.5 pr-12 pl-5 mt-8 rounded-3xl shadow-lg bg-zinc-900 max-md:pr-5">
        <div class="flex flex-col items-center my-auto bg-violet-100 rounded-full h-[70px] w-[70px]" role="img"
          aria-label="Player avatar"></div>
        <div class="flex flex-col">
          <p class="self-start text-4xl font-semibold text-red-600">5:0</p>
          <p class="mt-4 text-base text-stone-50">
            Азембловский Никита <br>
            (Иминжанов Анвар)
          </p>
        </div>
        <p
          class="z-10 self-start text-6xl font-semibold leading-none text-center text-white whitespace-nowrap max-md:text-4xl">
          26'</p>
      </article>
      <article class="flex gap-4 self-end py-2.5 pr-12 pl-5 mt-8 rounded-3xl shadow-lg bg-zinc-900 max-md:pr-5">
        <div class="flex shrink-0 my-auto bg-violet-100 rounded-full h-[70px] w-[70px]" role="img"
          aria-label="Player avatar"></div>
        <div class="flex flex-col">
          <p class="self-start text-4xl font-semibold text-red-600">6:0</p>
          <p class="mt-4 text-base text-stone-50">
            Леденёв Роман <br>
            (Лидинёв Олег)

          </p>
        </div>
        <p
          class="z-10 self-start text-6xl font-semibold leading-none text-center text-white whitespace-nowrap max-md:text-4xl">
          34'</p>
      </article>
      <article class="flex gap-4 self-end py-2.5 pr-12 pl-5 mt-8 rounded-3xl shadow-lg bg-zinc-900 max-md:pr-5">
        <div class="flex shrink-0 my-auto bg-violet-100 rounded-full h-[70px] w-[70px]" role="img"
          aria-label="Player avatar"></div>
        <div class="flex flex-col">
          <p class="self-start text-4xl font-semibold text-red-600">7:0</p>
          <p class="mt-4 text-base text-stone-50">
            Погребняк Кирилл <br>
            (Леденёв Роман)

          </p>
        </div>
        <p
          class="z-10 self-start text-6xl font-semibold leading-none text-center text-white whitespace-nowrap max-md:text-4xl">
          35'</p>
      </article>
      <article class="flex gap-4 self-end py-2.5 pr-12 pl-5 mt-8 rounded-3xl shadow-lg bg-zinc-900 max-md:pr-5">
        <div class="flex shrink-0 my-auto bg-violet-100 rounded-full h-[70px] w-[70px]" role="img"
          aria-label="Player avatar"></div>
        <div class="flex flex-col">
          <p class="self-start text-4xl font-semibold text-red-600">8:0</p>
          <p class="mt-4 text-base text-stone-50">
            Леденёв Роман <br>
            (Азембловский Никита)

          </p>
        </div>
        <p
          class="z-10 self-start text-6xl font-semibold leading-none text-center text-white whitespace-nowrap max-md:text-4xl">
          41'</p>
      </article>
      <article class="flex gap-4 self-end py-2.5 pr-12 pl-5 mt-8 rounded-3xl shadow-lg bg-zinc-900 max-md:pr-5">
        <div class="flex shrink-0 my-auto bg-violet-100 rounded-full h-[70px] w-[70px]" role="img"
          aria-label="Player avatar"></div>
        <div class="flex flex-col">
          <p class="self-start text-4xl font-semibold text-red-600">9:0</p>
          <p class="mt-4 text-base text-stone-50">
            Комяжко Кирилл 

          </p>
        </div>
        <p
          class="z-10 self-start text-6xl font-semibold leading-none text-center text-white whitespace-nowrap max-md:text-4xl">
          42'</p>
      </article>
      <article class="flex gap-4 self-end py-2.5 pr-12 pl-5 mt-8 rounded-3xl shadow-lg bg-zinc-900 max-md:pr-5">
        <div class="flex shrink-0 my-auto bg-violet-100 rounded-full h-[70px] w-[70px]" role="img"
          aria-label="Player avatar"></div>
        <div class="flex flex-col">
          <p class="self-start text-4xl font-semibold text-red-600">10:0</p>
          <p class="mt-4 text-base text-stone-50">
            Азембловский Никита <br>
            (Лидинёв Олег)

          </p>
        </div>
        <p
          class="z-10 self-start text-6xl font-semibold leading-none text-center text-white whitespace-nowrap max-md:text-4xl">
          49'</p>
      </article>
      <article class="flex gap-4 self-end py-2.5 pr-12 pl-5 mt-8 rounded-3xl shadow-lg bg-zinc-900 max-md:pr-5">
        <div class="flex shrink-0 my-auto bg-violet-100 rounded-full h-[70px] w-[70px]" role="img"
          aria-label="Player avatar"></div>
        <div class="flex flex-col">
          <p class="self-start text-4xl font-semibold text-red-600">11:0</p>
          <p class="mt-4 text-base text-stone-50">
            Азембловский Никита

          </p>
        </div>
        <p
          class="z-10 self-start text-6xl font-semibold leading-none text-center text-white whitespace-nowrap max-md:text-4xl">
          50'</p>
      </article>
      <article class="flex gap-4 self-end py-2.5 pr-12 pl-5 mt-8 rounded-3xl shadow-lg bg-zinc-900 max-md:pr-5">
        <div class="flex shrink-0 my-auto bg-violet-100 rounded-full h-[70px] w-[70px]" role="img"
          aria-label="Player avatar"></div>
        <div class="flex flex-col">
          <p class="self-start text-4xl font-semibold text-red-600">10:0</p>
          <p class="mt-4 text-base text-stone-50">
            Тохосаев Аслан <br>
            (Лукаш Алексей)

          </p>
        </div>
        <p
          class="z-10 self-start text-6xl font-semibold leading-none text-center text-white whitespace-nowrap max-md:text-4xl">
          51'</p>
      </article>
      <article class="flex gap-4 self-end py-2.5 pr-12 pl-5 mt-8 rounded-3xl shadow-lg bg-zinc-900 max-md:pr-5">
        <div class="flex shrink-0 my-auto bg-violet-100 rounded-full h-[70px] w-[70px]" role="img"
          aria-label="Player avatar"></div>
        <div class="flex flex-col">
          <p class="self-start text-4xl font-semibold text-red-600">11:0</p>
          <p class="mt-4 text-base text-stone-50">
            Леденёв Роман

          </p>
        </div>
        <p
          class="z-10 self-start text-6xl font-semibold leading-none text-center text-white whitespace-nowrap max-md:text-4xl">
          54'</p>
      </article>
    </header>

    <section class="ml-7">
      <h2 class="text-4xl mt-9  mb- text-center font-semibold leading-none text-red-600 ">НАКАЗАНИЯ</h2>
    </section>
    <section class="mt-10 max-w-full w-[836px]">
      <div class="flex gap-5 max-md:flex-col">
        <article class="flex flex-col w-8/12 max-md:ml-0 max-md:w-full">
          <div
            class="flex gap-8 items-start px-1 pt-5 pb-3.5 w-full rounded-3xl border border-red-600 border-solid shadow-lg bg-zinc-900 max-md:mt-10">
            <div class="flex gap-1 text-xl font-semibold text-red-600">
              <div class="flex shrink-0 bg-amber-300 rounded-xl h-[60px] w-[29px]" role="presentation"></div>
              <img loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/ed974addc1e694c336a3e047384868f4529d08e5c6902296f301288369b5b9eb?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
                class="object-contain shrink-0 self-start mt-2 aspect-square w-[27px]" alt="Player icon" />
              <h2 class="my-auto">
                Кандауров <br /> Абдурагим
              </h2>
            </div>
            <div class="flex flex-col mt-2">
              <p class="text-base text-stone-50">
                (Неспортивное <br /> поведение)
              </p>
              <div class="flex z-10 gap-2 self-start -mt-1 whitespace-nowrap">
                <p class="text-2xl font-semibold text-red-600">
                  25
                </p>
                <p class="text-base text-stone-50">
                  минута
                </p>
              </div>
            </div>
          </div>
        </article>
        <article class="flex flex-col w-8/12 max-md:ml-0 max-md:w-full ">
          <div
            class="flex gap-8 items-start px-4 pt-5 pb-3.5 w-full rounded-3xl border border-red-600 border-solid shadow-lg bg-zinc-900 max-md:mt-10">
            <div class="flex gap-1 text-xl font-semibold text-red-600">
              <div class="flex shrink-0 bg-amber-300 rounded-xl h-[60px] w-[29px]" role="presentation"></div>
              <img loading="lazy"
                src="https://cdn.builder.io/api/v1/image/assets/TEMP/ed974addc1e694c336a3e047384868f4529d08e5c6902296f301288369b5b9eb?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
                class="object-contain shrink-0 self-start mt-2 aspect-square w-[27px]" alt="Player icon" />
              <h2 class="my-auto">
                Сибирцев <br /> Евгений
              </h2>
            </div>
            <div class="flex flex-col mt-2">
              <p class="text-base text-stone-50">
                (Грубая <br /> игра)
              </p>
              <div class="flex z-10 gap-2 self-start -mt-1 whitespace-nowrap">
                <p class="text-2xl font-semibold text-red-600">
                  47
                </p>
                <p class="text-base text-stone-50">
                  минута
                </p>
              </div>
            </div>
          </div>
        </article>
      </div>
    </section>


    <section class="self-stretch mt-10 w-full flex flex-col-3  max-md:max-w-full">
      <div class="flex gap-5 max-md:flex-col">
        <article class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
          <div
            class="flex grow gap-5 px-3.5 py-2.5 w-80 text-base font-semibold rounded-3xl shadow-lg bg-zinc-900 max-md:mt-10">
            <img loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/baf6e054a22a863a22febb47f736c3b80f82c022a2e5398684ee732d8256ff37?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
              alt="Player portrait" class="object-contain shrink-0 max-w-full rounded-3xl aspect-[0.62] w-[163px]">
            <div class="flex flex-col flex-1 items-start my-auto">
              <p class="text-red-600 rotate-[-3.9964308472128653e-19rad]">Кокос групп</p>
              <h2 class="self-stretch mt-1 text-xl text-white">Азембловский Никита</h2>
              <p class="mt-9 text-stone-50">Нападающий</p>
            </div>
          </div>
        </article>
        <article class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
          <div
            class="flex grow gap-5 px-3.5 py-2.5 w-80 text-base font-semibold rounded-3xl shadow-lg bg-zinc-900 max-md:mt-10">
            <img loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/baf6e054a22a863a22febb47f736c3b80f82c022a2e5398684ee732d8256ff37?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
              alt="Player portrait" class="object-contain shrink-0 max-w-full rounded-3xl aspect-[0.62] w-[163px]">
            <div class="flex flex-col flex-1 items-start my-auto">
              <p class="text-red-600 rotate-[-3.9964308472128653e-19rad]">Кокос Групп</p>
              <h2 class="self-stretch mt-1 text-xl text-white">Погребняк Кирилл</h2>
              <p class="mt-9 text-stone-50">Нападающий</p>
            </div>
          </div>
        </article>
        <article class="flex flex-col ml-5 w-[33%] max-md:ml-0 max-md:w-full">
          <div
            class="flex grow gap-5 px-3.5 py-2.5 w-80 text-base font-semibold rounded-3xl shadow-lg bg-zinc-900 max-md:mt-10">
            <img loading="lazy"
              src="https://cdn.builder.io/api/v1/image/assets/TEMP/baf6e054a22a863a22febb47f736c3b80f82c022a2e5398684ee732d8256ff37?placeholderIfAbsent=true&apiKey=7315b58a2c6144d1afcbd00ea500a639"
              alt="Player portrait" class="object-contain shrink-0 max-w-full rounded-3xl aspect-[0.62] w-[163px]">
            <div class="flex flex-col flex-1 items-start my-auto">
              <p class="text-red-600 rotate-[-3.9964308472128653e-19rad]">Кокос Групп</p>
              <h2 class="self-stretch mt-1 text-xl text-white">Леденёв Роман</h2>
              <p class="mt-9 text-stone-50">Нападающий</p>
            </div>
          </div>
        </article>
      </div>
    </section> 

